body{
	background-image: url('bk.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	font-family: Arial;
}
.container{
	display: flex;
	width: auto;
	margin: 15% 5% 0 5%;

}
.item{
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 200px;
	background-color:#060000a1;
	border-style: outset;
	border-color: #0c0c0c78;
	margin-right: 20px;
}
.item:hover{
	background-color: #998f8fa1;
}
a{
    text-decoration:none;
    color:white
}
.item{
    font-size:30px;
    color:white
}
